# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/bank-product/dist
/bank-product/tmp
/bank-product/out-tsc
/bank-product/bazel-out

# Node
/bank-product/node_modules
/bank-product/npm-debug.log
/bank-product/yarn-error.log
/repo-interview-main/node_modules
/repo-interview-main/pnpm-lock.yaml

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
/bank-product/.vscode/*
/bank-product/!.vscode/settings.json
/bank-product/!.vscode/tasks.json
/bank-product/!.vscode/launch.json
/bank-product/!.vscode/extensions.json
/bank-product/.history/*

# Miscellaneous
/bank-product/.angular/cache
/bank-product/.sass-cache/
/bank-product/connect.lock
/bank-product/coverage
/bank-product/libpeerconnection.log
/bank-product/testem.log
/bank-product/typings

# System files
/bank-product/.DS_Store
/bank-product/Thumbs.db
