<div class="list-container">

    <div class="search-add">
        <input class="search" type="text" placeholder="search" #searchInput (input)="onSearchChange(searchInput.value)">
        <button class="add" routerLink="/create">Agregar</button>
    </div>
    @if (products.length > 0) {
        <div class="table">
            <div class="row header">
              <div class="cell">Logo</div>
              <div class="cell">Nombre del producto</div>
              <div class="cell">Descripción</div>
              <div class="cell">Fecha de Liberación</div>
              <div class="cell">Fecha de reestructuración</div>
              <div class="cell"></div>
            </div>
                @for (product of products | search: searchTerm | pagination: currentPage: pageSize; track product.id ) {
                    <div class="row">
                        <div class="cell"><img src="{{ product.logo}}" alt="" srcset=""></div>
                        <div class="cell">{{ product.name}}</div>
                        <div class="cell">{{ product.description}}</div>
                        <div class="cell">{{ product.date_release}}</div>
                        <div class="cell">{{ product.date_revision}}</div>
                        <div class="cell custom-dropdown">
                            <input type="checkbox" id="dropdown-checkbox-{{product.id}}">
                            <label for="dropdown-checkbox-{{product.id}}"><i class="fa-solid fa-ellipsis-vertical"></i></label>
                            <ul class="dropdown-menu">
                                <li class="item" routerLink="/edit/{{product.id}}">Editar</li>
                                <li class="item" (click)="openModal(product.id)">Eliminar</li>
                            </ul>
                        </div>
                    </div>
                }
                <div class="footer">
                    <div>{{products.length}} Resultados</div>
                    <div class="pagination">
                        <div class="page-size-selector">
                            <label for="pageSizeSelector">Tamaño de página:</label>
                            <select #pageSizeSelector (change)="changePageSize(pageSizeSelector.value)" >
                                @for(size of pageSizeOptions; track size){<option [value]="size" >{{ size }}</option>}
                            </select>
                        </div>
                    
                        <div class="pagination-btns">
                            <button class="btn btn-primary" (click)="prevPage()"><i class="fa-solid fa-arrow-left"></i></button>
                            <button class="btn btn-primary" (click)="nextPage()"><i class="fa-solid fa-arrow-right"></i></button>
                        </div>
                    </div>
                </div>
        </div>
    } @else  {
        <p class="table">no products to list</p>
    }
    
</div>

<div class="modal" [class.active]="isModalOpen">
    <div class="modal-content">
      <p>¿Estás seguro de que deseas eliminar el producto {{productIdToDelete}}?</p>
      <button class="btn btn-secondary" (click)="closeModal()">Cancelar</button>
      <button class="btn btn-danger" (click)="eliminarProducto()">Confirmar</button>
    </div>
</div>